/* COLORED MARKERS */

/* Target <h1> and set its alignment to "center" and its background color to cyan. */
h1 {
    text-align: center;
    background-color: #FFFFFF;
}

/* Target the "container" class and set its background color to black, its top and bottom padding to 10px (to add some vertical space), and its left and right padding to 0. */
.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
}

/* Target the "marker" class and set its background color to red, its height to 25px, its width to 200px, the top and bottom margins to 10px, and the left and right margins to auto. */
.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

/* Target the "cap" class and set its width to 60px and its height to 25px. */
.cap {
    width: 60px;
    height: 25px;
}

/* Target the "sleeve" class and set its width to 100px and its height to 25px. */
.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75); /* The syntax of the "border-left" property is "border-left: width style color;". The border color is explicitly mentioned for better readability. */
}

/* Target the "cap" and "sleeve" classes and display them as inline-block elements. */
.cap, .sleeve {
    display: inline-block;
}

/* Target the "red" class and set its background color to red. */
.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: -5px -5px red; /* The syntax of the "box-shadow" property is "box-shadow: offsetX offsetY blurRadius color;". The "blurRadius" value is optional. */
}

/* Target the "green" class and set its background color to green. */
.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 5px 5px 5px green;
}

/* Target the "blue" class and set its background color to blue. */
.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}