/* COLORED MARKERS */

/* Target <h1> and set its alignment to "center" and its background color to white. */
h1 {
    text-align: center;
    background-color: #FFFFFF;
}

/* Target the "container" class and set its background color to white, its top and bottom padding to 10px (to add some vertical space), and its left and right padding to 0px. */
.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0px; /* When the shorthand "padding" property has two values, it sets "margin-top" and "margin-bottom" to the first value, and "margin-left" and "margin-right" to the second value. */
}

/* Target the "marker" class and set its height to 25px, its width to 200px, the top and bottom margins to 10px, and the left and right margins to "auto". */
.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto; /* When the shorthand "margin" property has two values, it sets "margin-top" and "margin-bottom" to the first value, and "margin-left" and "margin-right" to the second value. */
}

/* Target the "cap" class and set its width to 60px and its height to 25px. */
.cap {
    width: 60px;
    height: 25px;
}

/* Target the "sleeve" class and set its width to 100px, its height to 25px, and its background color to 50% opaque white. Also, add a double left border. */
.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75); /* The syntax of the "border-left" property is "border-left: width style color;". The border color is explicitly mentioned for better readability. */
}

/* Target the "cap" and "sleeve" classes and display them as inline-block elements. */
.cap, .sleeve {
    display: inline-block;
}

/* Target the "red" class and set its background as a linear gradient. Also, add a box shadow. */
.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8); /* The syntax of the "box-shadow" property is "box-shadow: offsetX offsetY blurRadius spreadRadius color;". The "blurRadius" and "spreadRadius" values are optional. Also, no units need to be added to a zero value. */
}

/* Target the "green" class and set its background as a linear gradient. Also, add a box shadow. */
.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}

/* Target the "blue" class and set its background as a linear gradient. Also, add a box shadow. */
.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
}